body{
    font-family: Arial, Helvetica, sans-serif;
}
.main-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cover-outstanding {
    width: 1200px;
    margin: auto;
    background: #f1f1f1;
    padding: 20px 70px;
    border-radius: 20px;
}

.cover-product {
    width: 1200px;
    margin: auto;
    padding: 20px 70px;
    border-radius: 20px;
}

.product-list {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.style-title {
    font-size: 35px;
    margin: 0;
    color: #18559e;
    font-weight: bold;
    padding: 0 150px;
}

.cover-outstanding>p {
    font-size: 25px;
    margin: 0;
    color: #8e3c33;
    font-weight: bold;
}

.product-card {
    width: calc(100% / 5);
    border: 1px solid #8e3c33;
}

.product-img {
    height: 200px;
    width: 100%;
}

.padding {
    padding: 0 20px;
}

.cover-product>button {
    background: #8e3c33;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    border: none;
    border-radius: 50px;
}

.cover-product>button:hover {
    cursor: pointer;
}

.product-card:hover {
    cursor: pointer;
    transform: translateY(-2px) scale(1.0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.style-name:hover {
    color: #ba2212;
}