body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.main-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cover-outstanding {
    width: 1200px;
    margin: auto;
    background: #f1f1f1;
    padding: 20px 70px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.cover-product {
    width: 1200px;
    margin: auto;
    padding: 20px 70px;
    border-radius: 20px;
}

.cover-all {
    display: flex;
    justify-content: center;
}

.product-list {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.style-title {
    font-size: 35px;
    margin: 0;
    color: #18559e;
    font-weight: bold;
    padding: 0 150px;
}

.cover-outstanding>p {
    font-size: 25px;
    margin: 0;
    color: #8e3c33;
    font-weight: bold;
}

.product-card {
    width: calc(100% /5 - 40px);
    border: 1px solid #8e3c33;
    margin: 0 10px;
}

.product-img {
    height: 200px;
    width: 100%;
}

.padding {
    padding: 0 20px;
}

.cover-product>button {
    background: #8e3c33;
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    border: none;
    border-radius: 50px;
}

.cover-product>button:hover {
    cursor: pointer;
}

.product-card:hover {
    cursor: pointer;
    transform: translateY(-2px) scale(1.0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.style-name:hover {
    color: #ba2212;
}

.style-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 82%;
}
/*am chen bat trang*/
.cover-pageAmChen {
    height: 500px;
    display: flex;
    flex-direction: column;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiTbInyp_1szbVob7ogB_pVEoDiW4UyFrJKiqHBlI8S5bnKsoPMHwfiJjpC0sGM4q9ACFlXoCr_Or7DDM6d4mkb_OXYMvQpTeB2hHT-fq9IAt9eNtR69HXzpI7yfVtFwC7Mha_sXp17p3w/s1600/simple-gray-texture.jpg");
}
.cover-allAmChen {
    display: flex;
}
.img-amchen {
    width: 35%;
    position: relative;
}
.img-amchen img {
    width:70%;
    position: absolute;
}
.title-product {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.cover2 {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto;
    padding: 100px 0;
}
.product {
    width: calc(100% / 2 - 20px);
    display: flex;
    background: #cccccc57;
    padding: 40px;
    border-radius: 10px;
}
.product img {
    width: 70%;
}
.btnAndTitle {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btnAndTitle button {
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
    margin-right: auto;
}
.btnAndTitle p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.btnAndTitle button:hover {
    cursor: pointer;
}
.choose {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.title-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.title-choose img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0);
}
.title-choose img:hover {
    cursor: pointer;
    border: 5px solid #8e3c33;
}
.title-choose span {
    font-weight: bold;
    color: #8e3c33;
}

/**/
.cover-product-item {
    margin: auto;
    padding: 20px 70px;
    width: calc(100% - 143px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #8e3c33;
    margin-bottom: 20px;
    border-radius: 10px;

}
.product-card-item {
    width: calc(100% / 5 - 18px);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #8e3c33;
}
.product-card-item img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.product-card-item .btn-seen {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 10px;
    left: 0;
    top: 230px;
    border: none;
    background-color: #cccccca8;
    font-weight: bold;
}
.product-card-item:hover {
    cursor: pointer;
}
.product-card-item:hover .btn-seen {
    display: block;
}
.product-card-item img {
    width: 100%;
    height: 260px;
}
.product-card-item:hover .btn-seen:hover {
    color: #ffffff;
    background-color: #8e3c33;
    cursor: pointer;
}
.product-card-item .style-title-pro{
    width: calc(100% - 40px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
}
.price-origin {
    font-size: 12px;
    margin-bottom: -10px;
    text-decoration: line-through;
    color: #ccc;
    font-weight: bold;
}
.product-priceSale {
    color: #8e3c33;
    font-size: 17px;
    font-weight: bold;
}
.cover-product-item .product-card-item:hover img {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}
.product-price {
    font-weight: bold;
    color: #8e3c33;
}
