body {
    padding: 0;
    margin: 0;
    position: relative;
}

/* header-home */
.pageHome-header {
    width: calc(100% - 200px);
    padding: 20px 100px;
    background-color: #0a8300;
    display: flex;
    justify-content: space-between;
}

.text-header {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    width: 20%;
}

.search-header {
    width: 40%;
}

.search-header input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 35px;
    border: none;
}

.search-header input:focus {
    outline: none;
}

.right-header {
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-header {
    background-color: #0a8300;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-header img {
    width: 30px;
}

.line {
    border-left: 1px solid #fff;
}

.menu-home {
    color: #0a8300;
    font-size: 20px;
    font-weight: bold;
    background: #f1f1f1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}



.info-home {
    height: max-content;
    background-size: contain;
    background: url(../img/background.jpg);
    display: flex;
}

.left-pageinfo {
    width: 50%;
    color: #0a8300;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-pageinfo {
    width: 50%;
    margin: auto;
    display: flex;
    justify-items: center;
}

.title-text {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}

.bold-text {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.content-left {
    color: #6e6e6e;
}

.commit-item {
    display: flex;
    gap: 30px;
    color: #6e6e6e;

}

.cover-commit {
    font-size: 20px;
}

.bold {
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
    color: #0a8300;
}

.style-btn {
    padding: 15px;
    border-radius: 40px;
    width: 250px;
    border: 2px solid #0a8300;
    /* color: #fff; */
    font-weight: bold;
    font-size: 16px;
}

.btn-info {
    display: flex;
    gap: 10px;
}

.icon-zalo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    align-items: center;
    display: flex;
    gap: 20px;
    text-decoration: none;
    background: #1877f2;
    border-radius: 30px;
    color: #fff;
    z-index: 1000;
}

.icon-page {
    display: flex;
    flex-direction: column;
}

.icon-page img {
    padding: 10px;
    width: 30px;
}


/**/
.cover-choose {
    width: 1000px;
}

.title-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.title-choose img {
    /* width: 50px; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cover-choose {
    padding: 30px;
    justify-content: center;
    display: flex;
}

.container {
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.product-home {
    margin: 50px;
}

.product-home span {
    font-weight: bold;
    color: #0a8300;
}

.cover-choose:hover {
    cursor: pointer;
    transform: translateY(-2px) scale(1.0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.title-choose p {
    margin: 0;
    font-size: 12px;
    margin-top: -15px;
    color: #0a8300;
}

#img-home .container img {
    width: 500px;
    border-radius: 10px;
}

#img-home .container {
    gap: 30px;
}


/*  */
.style-container {
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    padding-bottom: 50px;
}

.style-container .style-title {
    color: #d61919;
    font-size: 30px;
    font-weight: bold;
}

.product-card .style-name {
    width: calc(100% - 40px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;

}

.cover-product {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}
.cover-product a {
    width: calc(100% / 5 - 50px);
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.product-card {
    width: 100%;
}

.product-card img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.cover-all-product {
    width: 100%;
}
.cover-all-product p {
    padding: 0 20px;
    font-weight: bold;

}

.price-origin {
    font-size: 12px;
    margin-bottom: -10px;
    text-decoration: line-through;
    color: #ccc;
}

.price-sale {
    color: #0a8300;
    font-size: 17px;
}

.cover-all-product a:hover {
    cursor: pointer;
    transform: translateY(-3px) scale(1.0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-seen {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 10px;
    left: 0;
    top: 221px;
    border: none;
    background-color: #cccccca8;
    font-weight: bold;
}

.cover-all-product a:hover .btn-seen {
    display: block;
    cursor: pointer;
}

.cover-all-product a:hover .btn-seen:hover {
    color: #fff;
    background-color: #0a8300;
}

.cover-all-product a:hover img {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}
.style-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 82%;
}
.style-name:hover {
    color: #0a8300;
}
.product-price {
    font-weight: bold;
    color: #ff0000;
}
.title-other {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin: 5px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background: #fff9f1;
}
.title-other img{
    width: 30%;
}
.title-other p{
    width: 40%;
    font-size: 75px;
    text-align: right;
    font-weight: bold;
    color: #0a8300;
}
.cover-other {
    background: linear-gradient(to bottom, #0a8300, transparent);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 2px 2px 0 2px;
    margin-top: 100px;
}
.other-product {
    background: #fff9f1;
    padding: 0 40px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.cover-other-product {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}
.style-other {
    background: none;
    border: 1px solid #0a8300;
    width: calc(100% - 5px);
    margin: auto;
    border-radius: 50px;
}
.style-other a {
    border: 1px solid #0a8300;
}
.style-other-title {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0a8300;
}
