body {
    padding: 0;
    margin: 0;
}

/* header-home */
.pageHome-header {
    width: calc(100% - 200px);
    padding: 20px 100px;
    background-color: #973238;
    display: flex;
    justify-content: space-between;
}

.text-header {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    width: 20%;
}

.search-header {
    width: 40%;
}

.search-header input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 35px;
    border: none;
}

.search-header input:focus {
    outline: none;
}

.right-header {
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-header {
    background-color: #973238;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-header img {
    width: 30px;
}

.line {
    border-left: 1px solid #fff;
}

.menu-home {
    color: #8e3c33;
    font-size: 20px;
    font-weight: bold;
    background: #f1f1f1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.cover-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.info-home {
    height: max-content;
    background-size: contain;
    background: url(../img/background.jpg);
    display: flex;
}

.left-pageinfo {
    width: 50%;
    color: #8e3c33;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-pageinfo {
    width: 50%;
    margin: auto;
    display: flex;
    justify-items: center;
}

.title-text {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}

.bold-text {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.content-left {
    color: #6e6e6e;
}

.commit-item {
    display: flex;
    gap: 30px;
    color: #6e6e6e;

}

.cover-commit {
    font-size: 20px;
}

.bold {
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
    color: #8e3c33;
}

.style-btn {
    padding: 15px;
    border-radius: 40px;
    width: 250px;
    border: 2px solid #8e3c33;
    /* color: #fff; */
    font-weight: bold;
    font-size: 16px;
}

.btn-info {
    display: flex;
    gap: 10px;
}