body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 24px;
    color: #333;
}
.container{
    display: flex;
    min-height: 100vh;
    margin-bottom: 50px;
}
.sidebar{
    width: 25%;
    background: #0d8e02c7;
    color: white;
    padding: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.title{
    text-align: center;
    padding: 0 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}
.title h2{
    font-size: 26px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links{
    list-style: none;
    padding: 0 15px;
}
.nav-links li{
    margin-bottom: 10px;
}
.nav-links a{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s;
}
.nav-links a:hover, .nav-links a.active{
    background: rgba(255, 255, 255, 0.1);
}

.nav-links a i{
    width: 20px;
    text-align: center;
}

.content{
    max-width: 1000px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    background: #ddd;
    border: none;
    font-weight: bold;
}

.tab.active {
    background: #4b89ff;
    color: white;
}

/* --- Bảng kho hàng --- */
.warehouse-table table {
    width: 110%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.warehouse-table thead {
    background: #f5f5f5;
}

.warehouse-table th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    min-width: 120px;
}

.warehouse-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* --- Trạng thái & Lợi nhuận --- */
.status.selling {
    color: #0079ff;
    font-weight: bold;
}

.profit.green {
    color: #00aa33;
    font-weight: bold;
}

/* --- Buttons --- */
.remove,
.edit {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.remove {
    background: #e0e0e0;
}

.edit {
    background: #ffba00;
    color: #000;
}

.remove:hover {
    background: #ccc;
}

.edit:hover {
    background: #e6a800;
}
