body{
    height: 100vh;
    margin: 0;
    font-family: sans-serif, Tahoma;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 300px;
    height: 430px;
    background: white;
    border-radius: 16px;
    padding: 40px 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}
.head {
    margin-bottom: 30px;
    color: #973238;
    font-weight: 600;
}
.style-img{
    display: flex;
    padding-left: 30px;
}
.style-img img{
    width: 20px;
    margin-top: -20px;
}
.input-style {
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    transition: 0.3s;
}
.password-section {
    position: relative;
}
.toggle-password {
    position: absolute;
    right: 40px;
    cursor: pointer;
    font-size: 16px;
}
.btn {
    width: 150px;
    padding: 11px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #973238, #7b64f6);
    color: white;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    opacity: 0.9;
}
.select{
    margin-top: 30px;
}
.select p{
    color: lightgray;
    font-size: 14px;
    margin-bottom: 20px;
}
.link{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.link img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.link img:hover{
    background: #e5e5e5;
}
.foot{
    display: block;
    margin-top: 60px;
    color: #973238;
    font-weight: 600;
    cursor: pointer;
}
.section {
    display: none;
}
.section.active {
    display: block;
}
