.container-info {
    display: flex;
}
.cover-left-page {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #0d8e02c7;
}
.cover-right-page {
    width: 70%;
    padding: 10px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 500px;
}
.info-avatar img {
    width: 50px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 50%;
}
.name {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.info-avatar {
    display: flex;
    gap: 20px;
    padding: 20px 50px;
    border-bottom: 1px solid #cccccc6b;
}
.nav-links {
    padding: 10px;
    list-style: none;
}
.nav-links li {
    margin: 15px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.active {
    background: rgba(255, 255, 255, 0.1);
}
.nav-links a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s;
}
.nav-links img {
    width: 25px;
}
.title-info {
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 30px;
    background: white;
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.style-title-info {
    font-size: 16px;
    font-weight: 200;
}
.style-input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 60%;
}
.style-phone {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 20%;
}
.style-lable {
    display: flex;

}
.left-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.style-lable label {
    width: 25%;
}
.cover-info {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    border-top: 1px solid #ccc;
}
.cover-sex {
    display: flex;
    gap: 50px;
}
.right-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-left: 1px solid #ccc
}
.right-info img {
    width: 100px;
    background: #ccc;
    border-radius: 50%;
    padding: 20px;
}
.right-info button {
    width: 100px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.right-info button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}