body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header-home */
.pageHome-header {
    width: calc(100% - 200px);
    padding: 20px 100px;
    background-color: #973238;
    display: flex;
    justify-content: space-between;
}

.text-nonglam {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.text-gomsu {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: 0;
}

.text-header {
    width: 25%;
    margin-right: 20px;
    font-family: "VN Opulent Brush", "LNTH Watermark", cursive;
    display: flex;
    justify-content: space-evenly;
}

.search-header {
    width: 40%;
}

.search-header input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 35px;
    border: none;
}

.search-header input:focus {
    outline: none;
}

.right-header {
    width: 35%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-header {
    background-color: #973238;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 2;
}

.btn-header:focus {
    outline: none;
}

.btn-header:hover {
    cursor: pointer;
}

.btn-header img {
    width: 30px;
}

.line {
    border-left: 1px solid #fff;
}

.menu-home {
    color: #8e3c33;
    font-size: 17px;
    font-weight: bold;
    background: #f1f1f1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 1000;
}

.menu-home a {
    text-decoration: none;
    color: #8e3c33;
    position: relative;
    z-index: 2;
}

.cover-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}


/* footer */
.container-footer {
    padding: 40px;
    background-color: #973238;
    color: #f1f1f1;
    letter-spacing: 1px;
    display: flex;

}

.cover-left {
    width: 25%;
    margin-right: 40px;
}

.cover-left h1 {
    font-size: 80px;
    margin-top: 0;
}

.cover-left p {
    font-size: 20px;
}

.cover-right {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cover-1 {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    margin-right: 20px;
}

.cover-1 li {
    font-size: 19px;
    border-bottom: 1px solid rgba(180, 197, 180, 0.564);
    padding: 10px;
    list-style: none;
}

.cover-1 p {
    font-size: 40px;
    padding: 0 10px;
    margin: 0;
}

.style-list {
    color: rgba(180, 197, 180, 0.564);
}

.cover-1 li:hover {
    cursor: pointer;
}

.cover-all {
    display: flex;
    width: 100%;
}

.btn-footer {
    padding: 5px;
    border-radius: 5px;
    background: none;
    color: #f1f1f1;
    border: 1px solid #f1f1f1
}

.p {
    font-size: 20px;
    margin: 0;
}

/* menu */
.bi {
    padding: 0 5px;
}

.cover-menu li:hover {
    cursor: pointer;
}

.sub-menu {
    position: absolute;
    margin-top: -20px;
    width: 150px;
    background: none;
    height: 40px;
}

.sub-menu:hover {
    cursor: pointer;
}

.sub-item:hover .sub-menu .hover {
    display: block;
    position: absolute;
    background-color: #fff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 35px;
    left: -30px;
    padding-left: 0;
}

.hover {
    display: none;
    list-style: none;
}

.hover li{
    margin: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.hover li a{
    width: 100%;
}

.sub-item:hover .sub-menu .hover li:hover {
    background-color: #f1f1f1;
}

.sub-item {
    padding-bottom: 20px;
    position: relative;
}

.sub-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #8e3c33;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.sub-item:hover:after {
    width: 100%;
}

