body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 24px;
    color: #333;
}
.container{
    display: flex;
    min-height: 100vh;
    margin-bottom: 50px;
}
.sidebar{
    width: 25%;
    background: #0d8e02c7;
    color: white;
    padding: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.title{
    text-align: center;
    padding: 0 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}
.title h2{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav-links{
    list-style: none;
    padding: 0 15px;
}
.nav-links li{
    margin-bottom: 10px;
}
.nav-links a{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s;
}
.nav-links a:hover, .nav-links a.active{
    background: rgba(255, 255, 255, 0.1);
}

.nav-links a i{
    width: 20px;
    text-align: center;
}
.content{
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
}
.head-title h1{
    font-size: 1.8rem;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 10px;
}
.head-title {
    margin-bottom: 30px;
    background: white;
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.filter-section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 25px;
}
.filter-section form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.filter-section label{
    font-weight: bold;
}
.filter-section select{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.summary-section{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 30px;
}
.card{
    background-color: white;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
}
.card h3{
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}
.card .value{
    font-size: 20px;
    font-weight: bold;
    color: #0069ff;
}
.chart-section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 30px;
}
.chart h2{
    font-size: 18px;
    margin-bottom: 16px;
    color: #444;
    text-align: center;
}
.chart-bar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 250px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    gap: 5px;
}
.bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: end;
}
.bar{
    width: 50px;
    background: linear-gradient(180deg, #00ccff, #004195);
    border-radius: 6px 6px 0 0;
    text-align: center;
    color: white;
    position: relative;
    font-size: 13px;
    padding-top: 5px;
}
.bar span{
    position: absolute;
    top: -17px;
    right: 12px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
}
.label {
    margin-top: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.table-section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
}
.table-section h2{
    margin-bottom: 12px;
    color: #444;
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #f0f0f0;
    color: #555;
}
