/* Banner */
.banner {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.banner-text h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

/* bản tin tức */
.news-grid {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 25px;
    padding: 0 20px;
}

.news-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.news-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.news-info {
    padding: 15px;
}

.news-info h3 {
    color: #7b0000;
    font-size: 18px;
    margin-bottom: 8px;
}

.news-info p {
    color: #333;
    line-height: 1.6;
    font-size: 15px;
}
