body {
    font-family: Arial, Helvetica, sans-serif;
}
.cart-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.cart-items {
    align-items: center;
    gap: 15px;
}
.cart-item td{
    text-align: center;
}
/* Checkbox */
.item-check {
    display: flex;
    justify-content: center;
    accent-color: #e74c3c;
}
.cart-header {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
/*.cart-header thead, .cart-header tr {*/
/*    border-bottom: 2px solid #ddd;*/
/*}*/
.cart-header th, .cart-header td {
    padding: 18px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.qty-input {
    width: 20px;
    text-align: center;
}
.quantity {
    width: 100px;
}

/* Cột phải */
.cart-summary {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
    background: #fafafa;
}

.cart-summary h2 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    font-size: 17px;
}

.summary-row.total {
    font-weight: bold;
    font-size: 18px;
}

.checkout-btn {
    display: block;
    background: #c9302c;
    color: white;
    padding: 12px 0;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.coupon-input {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.coupon-input input {
    flex: 1;
    padding: 8px;
}

.coupon-input button {
    padding: 8px 14px;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.recomment-title {
    font-size: 22px;
    margin: 20px 30px 10px;
}

.recomment {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 0 30px 20px;
}

.recommend-wrapper {
    max-width: 1200px;
    margin: 0 auto 40px;
}


.product-card {
    flex-shrink: 0;
    width: 200px;
}

.product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.product-card img {
    max-width: 100%;
    border-radius: 5px;
    height: 200px;
}
.product-card .title {
    margin: 10px 0 5px;
    font-size: 14px;
    height: 30px;
    overflow: hidden;
    padding-left: 5px;
}

.product-card .prices {
    color: red;
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
}

