body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}
.content{
    font-weight: bold;
}
.content h1{
    text-align: center;
}
.content p{
    width: 400px;
    font-size: 24px;
}
.content li{
    padding-bottom: 10px;
}
.content a{
    text-decoration: none;
}
.image img{
    width: 650px;
}